<p id="notice"><%= notice %></p>

<h2>Hi! My name is <%= @person.name %>!</h2>

<h2>States I've Been To:</h2>
<% if @person.states_visited.any? %>
  <ul>
    <% @person.states_visited.each do |state| %>
      <li><%= state %></li>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
